body{
    background-color: hsl(229, 57%, 11%);
    background-image: url(/home/moringa/Desktop/indipendent-projects/fylo-data-storage-component-master/images/bg-desktop.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: hsl(229,7%,55%);
    font-family: 'Raleway';
    margin: 10px;
}
