body{
    background-color: hsl(229, 57%, 11%);
    background-image: url(/home/moringa/Desktop/indipendent-projects/fylo-data-storage-component-master/images/bg-desktop.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: hsl(229,7%,55%);
    font-family: 'Raleway';
    margin: 10px;
}

.container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrappper{
    display: flex;
    flex-wrap: wrap;
}

header{
    flex: 1 1 auto;
    border-radius: 10px 70px 10px 10px;
    padding: 30px 120x 30px 30px;
    margin: 15px;
    background-color: hsl(229, 57%, 25%);
}

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.logo{
    margin: 15px;
}

.icons-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
padding: 35px 0 0 0;
}

.icon{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(229,57%,11%);
    margin: 8px;
}

main{
    flex: 1 1 500px;
    border-radius: 10px;
    padding: 30px;
    margin: 50px 10px 10px 10px;
    background-color: hsl(229, 57%, 25%);
}


.eightfifteen{
    color: lightgray;
}

.storage-load{
    position: relative;
}

.empty-storage{
background-color: hsl(229,57%, 11%);
border-radius: 20px;
margin: 20px 0 10px 0;
height: 30px;
}

.used-storage{
    border-radius: 20px;
    height: 30px;
    width: 82%;
    background: linear-gradient(90deg, hsl(6,100%,80%),hsl(335,100%,65%));
    align-items: center;
    justify-content: flex-end;
}

.white-circle{
    background-color: white;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 30px;
    margin-left: 85%;
}


footer{
    height: 100px;
}
.attribution{
    font-size: 11px;
    text-align: center;
    vertical-align: bottom;
}


